@font-face {
    font-family:"ABCMonumentGrotesk-Regular";
    src:url("../fonts/ABCMonumentGrotesk-Regular.woff2") format("woff2"),
        url("../fonts/ABCMonumentGrotesk-Regular.woff") format("woff");
    font-style:normal;
    font-display: block;
}