@import "vars";

.site-header {
    position: fixed;
    width: 100%;
    padding: 0.5625rem 1.1875rem;
    min-height: 3.875rem;
    //background: #fff;
    background: inherit;
    z-index: 2;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    //transition: background-color .4s, color .4s;
    a {
        //color:$grey;
        //transition: color .3;
    }
    // h1 a {
    //     color:$grey;
    //     transition: color .3;
    // }
    ul {
        display: flex;
        text-transform: lowercase;
        li {
            display: block;
            margin: 0 0 0 .5em;
            // a {
            //     transition: color .3s;
            //     color: $grey;
            // }
            &.current-menu-item a,
            a.active {
                color: $orange;
            }
        }
    }
    &.main-header {
        h1 {
            opacity: 1;
            visibility: visible;
            transition: opacity $transitionDur $transitionDelay, visibility 0s $transitionDelay;
        }               
    }
    &.secondary-header {
        background-color: inherit;
        opacity: 0;
        visibility: hidden;
        transition: opacity $transitionDur, visibility 0s $transitionDur;
        pointer-events: none;
        width: auto;
        h1 {
            padding-right: 1em;
        }
        .show-menu {
            cursor: pointer;
            display: none;
        }
        ul {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            li {
                margin: 0 .4em 0 0;
            }
        }
        .filters {
            text-transform: lowercase;
        }
        &.single-work-header {
            .filters {
                opacity: 0;
                display: none;
            }
        }
    }
}


.show-secondary-header {
    .site-header {
        &.main-header {
            h1 {
                pointer-events: none;
                opacity: 0;
                visibility: hidden;
                transition: opacity $transitionDur, visibility 0s $transitionDur;            
            }
        }    
        &.secondary-header {
            pointer-events: all;
            opacity: 1;
            visibility: visible;
            transition: opacity $transitionDur $transitionDelay, visibility 0s $transitionDelay;
        }   
    }    
}

@media (hover: hover) and (pointer: fine) {

    .site-header h1 a:hover,
    .site-header ul.menu li a:hover,
    .secondary-header a:hover {
        color: $orange;
    }
}

@media only screen and (max-width: 750px) {
    .site-header {
        padding: 0.4375rem $mobile-margin;
        min-height: 3rem;
        &.main-header {
            h1,
            ul {
                opacity: 1;
                visibility: visible;
                transition: opacity $transitionDur $transitionDelay, visibility 0s $transitionDelay;
            }               
        }
        &.secondary-header {
            width: 100%;
            .show-menu {
                display: block;
            }
        }    
    }
    .show-secondary-header {
        .site-header {
            &.main-header {
                pointer-events: none;
                h1,
                ul {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity $transitionDur, visibility 0s $transitionDur;            
                }
            }     
        }    
    }
}    