@use "sass:math";
@import "vars";

[data-barba-namespace="home"]{
    .site-header {
        transition: opacity .4s;
        opacity: 0;
        background: transparent;
    }
    .site-footer {
        display: none;
    }
}

.intro {
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .intro-text {
        padding: 0.5625rem 1.1875rem;
        p:last-of-type {
            margin: 0;
        }
        a {
            color: $orange;
        }
    }
    .scrolldown {
        flex:1;
    }
}

.home-slider {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 1;
    .swiper-slide {
        // img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        //     object-position: center;
        // }
        div {
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }
    // .blond-img {
    //     div:before,
    //     div:after {
    //         transition: opacity .4s;
    //     }
    //     &:hover {
    //         div:before,
    //         div:after {
    //             opacity: 0;
    //         }
    //     }    
    // }
    .blond-img {
        div:last-child {
            transition: opacity 1s;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        height: 100%;
        width: 50%;
        top:0;
        z-index: 2;
    }
    .swiper-button-prev {
        left:0;
    }
    .swiper-button-next {
        right:0;
    }
}

.scrolled {
    .intro {
        pointer-events: none;
    }
    [data-barba-namespace="home"]{
        .site-header {
            opacity: 1;
        }
    }
    .home-slider {
        .blond-img  div:last-child {
            opacity: 0;    
        }
    }
}

@media only screen and (max-width: 750px) {
    .intro {
        .intro-text {
            padding: .8125rem;
        }
    }
    .scrolldown .custom-cursor {
        display: none !important;
    }
}    