@import 'vars';

.info-wrap {
    background-color: inherit;
}
.info-slider-wrap {
    // height: calc(100vh - 3.875rem);
    // width: calc(100% - 2.375rem);
    // margin: 0 auto 0.875rem;
    height: 100vh;
    //height: -webkit-fill-available;
    padding: 3.875rem 1.1875rem 0;
    margin: 0 0 .875rem;
    cursor: none !important;
    & > * {
        cursor: none !important;
    }
}
.info-slider {
    height: 100%;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.info-section {
    //scroll-snap-align: start;
    // &.clients,
    // &.awards,
    // &.press {
        //padding: 0 0 8.4375rem;
    //}
    // &.awards {
    //     color:#b7b7b7;
    //     h4 {
    //         color: $grey;
    //     }
    // }
    padding-top:8.4375rem;
    &:first-child {
        padding-top: 0;
    }
}
@media only screen and (max-width: 750px) {
    .info-slider-wrap {
        padding: 3rem $mobile-margin 0;
        margin: 0 0 .5rem;
    }
    .info-section {
        &.clients,
        &.awards,
        &.press {
            padding: 3.75rem $mobile-margin 0;
        }
        &.clients {
            column-count: 1;
            column-gap: 0;
        }
    }  
}    