$bg-grey: #f0efee;
$lt-tablet: "only screen and (max-width: 1050px)";
$lt-phone: "only screen and (max-width: 750px)";

$orange: #ff7b43;
$grey: #504F4F;
$lightgrey: #DEDEDE;

$mobile-margin: .8125rem;