@use "sass:math";
@import 'vars';
.work-index {
    display: flex;
    flex-wrap: wrap;
    padding: 3.875rem 0.75rem 0;
}
.work-wrap {
    min-height: 110vh;
    padding-top: 3.875rem;
}
.work-index {
    min-height: 100vh;
}
.work-card {
    max-width:100%;
    margin: 0 0.4375rem 0.875rem;
    transition: all .8s;
    &.loading {
        opacity: 0;
    }
    &.fade-in-up {
        opacity: 0;
        transform: translateY(50px);
    }
    a {
        position: relative;
        display: block;
        overflow: hidden;  
        color: $lightgrey;
    }
    .thumbnail-wrap {
        position: relative;
        overflow: hidden;
        img {
            object-fit: cover;
            object-position: center;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            position: absolute;
        }       
    }  
    &.landscape {
        width: calc(50% - 0.875rem);
        .thumbnail-wrap {
            //padding: 0 0 67.6659528907923%;
            padding: 0 0 math.div(6,9)*100%;
        }
    }
    &.portrait {
        width: calc(33.33% - 0.875rem);
        .thumbnail-wrap {
            //padding: 0 0 150%;
            padding: 0 0 math.div(9,6)*100%;
            position: relative;
        }
    }
    h3 {
        padding: 0.875rem;
    }
    &.hidden {
        opacity: .15;
        pointer-events: none;
    }
}

@media (hover: none) and (pointer: coarse) {
    .work-card a {
        img {
            opacity: 1;
            &.rollover-img {
                display: none;
            } 
        } 
    }
}       

@media (hover: hover) and (pointer: fine) {
    .work-card {
        a {
            h3 {
                position: absolute;
                bottom: 0;
                left:0;
                opacity: 0;
                transition: opacity .4s;
            }
            img {
                opacity: 1;
                &.rollover-img {
                    opacity: 0;
                } 
            } 
            &:hover {
                h3 {
                    opacity: 1;
                }
                img.rollover-img {
                    opacity: 1;
                }     
            }
        }
        &.hidden a:hover {
            img {
                &.rollover-img {
                    display: none;
                } 
            }
        }    
    }    
}

@media only screen and (max-width: 750px) {
    .work-index {
        padding: 3.6rem $mobile-margin 7.5rem;  
    }
    .work-card,
    .labs-card {
        width:100%;
        margin: 0 0 1.25rem;
        &.landscape,
        &.portrait  {
            width: 100%;
        }
        a h3 {
            padding: 0.4375rem 0 0;
            position: relative;
            top:auto;
            left:auto;
            opacity: 1;
        }
    }
}    